#define IDM_EASTER_EGG 999
#define IDM_SORCERY 991
#define IDM_DARKMAGIC 992

IDM_EASTER_EGG MENUEX
BEGIN
  POPUP "Easter Egg"
  BEGIN
    MENUITEM "Sorcery",IDM_SORCERY
    MENUITEM "Dark Magic",IDM_DARKMAGIC
  END
END


