#define IDD_MediaPlayerControls 3000
#define IDC_MPC_ToolbarControls 3020
IDD_MediaPlayerControls DIALOGEX 0,0,376,30
FONT 8,"Segoe UI",400,0
STYLE 0x50000400
EXSTYLE 0x00010000
BEGIN
  CONTROL "",IDC_MPC_ToolbarControls,"ToolbarWindow32",0x5001A14C,0,3,376,22,0x00000000
END
