#define ACCTABLE						900
#define ACC_FILE_OPEN					901
#define ACC_FILE_EXIT					902
#define ACC_MC_STOP						903
#define ACC_MC_PLAY						904
#define ACC_MC_STEP10F                  905
#define ACC_MC_STEP10B                  906
#define ACC_MC_SLOWER                   907
#define ACC_MC_FASTER                   908
#define ACC_MC_FULLSCREEN               909
#define ACC_MC_STREAM1                  911
#define ACC_MC_STREAM2                  912
#define ACC_MC_STREAM3                  913
#define ACC_MC_STREAM4                  914
#define ACC_MC_STREAM5                  915
#define ACC_MC_STREAM6                  916
#define ACC_MC_STREAM7                  917
#define ACC_MC_STREAM8                  918
#define ACC_MC_STREAM9                  919
#define ACC_MC_TOGGLEPLAY               920
ACCTABLE ACCELERATORS DISCARDABLE
BEGIN
  79,ACC_FILE_OPEN,VIRTKEY,NOINVERT,CONTROL
  115,ACC_FILE_EXIT,VIRTKEY,NOINVERT,ALT
  83,ACC_MC_STOP,VIRTKEY,NOINVERT,CONTROL
  80,ACC_MC_PLAY,VIRTKEY,NOINVERT,CONTROL
  70,ACC_MC_STEP10F,VIRTKEY,NOINVERT,CONTROL
  66,ACC_MC_STEP10B,VIRTKEY,NOINVERT,CONTROL
  37,ACC_MC_SLOWER,VIRTKEY,NOINVERT,CONTROL
  39,ACC_MC_FASTER,VIRTKEY,NOINVERT,CONTROL
  122,ACC_MC_FULLSCREEN,VIRTKEY,NOINVERT
  49,ACC_MC_STREAM1,VIRTKEY,NOINVERT,CONTROL
  50,ACC_MC_STREAM2,VIRTKEY,NOINVERT,CONTROL
  51,ACC_MC_STREAM3,VIRTKEY,NOINVERT,CONTROL
  52,ACC_MC_STREAM4,VIRTKEY,NOINVERT,CONTROL
  53,ACC_MC_STREAM5,VIRTKEY,NOINVERT,CONTROL
  54,ACC_MC_STREAM6,VIRTKEY,NOINVERT,CONTROL
  55,ACC_MC_STREAM7,VIRTKEY,NOINVERT,CONTROL
  56,ACC_MC_STREAM8,VIRTKEY,NOINVERT,CONTROL
  57,ACC_MC_STREAM9,VIRTKEY,NOINVERT,CONTROL
  32,ACC_MC_TOGGLEPLAY,VIRTKEY,NOINVERT
END
