#define IDM_MENU 10000
#define IDM_FILE_OPEN 10001
#define IDM_FILE_EXIT 10002
#define IDM_CONTROLS 10050
#define IDM_MC_STOP 10051
#define IDM_MC_PAUSE 10052
#define IDM_MC_PLAY 10053
#define IDM_MC_STEP 10054
#define IDM_MC_FULLSCREEN 10055
#define IDM_MC_ASPECT 10056
#define IDM_AM_STRETCH 10201
#define IDM_AM_LETTERBOX 10202
#define IDM_HELP_HELP 10101
#define IDM_HELP_ABOUT 10102
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open File...\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "",,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Media Controls",IDM_CONTROLS
  BEGIN
    MENUITEM "&Stop\tCtrl+S",IDM_MC_STOP
    MENUITEM "Pause",IDM_MC_PAUSE
    MENUITEM "",,0x00000800
    MENUITEM "&Play\tCtrl+P",IDM_MC_PLAY
    MENUITEM "Step",IDM_MC_STEP
    MENUITEM "",,0x00000800
    MENUITEM "&Fullscreen Toggle\tF11",IDM_MC_FULLSCREEN
    POPUP "Video Aspect",IDM_MC_ASPECT
    BEGIN
      MENUITEM "Stretch",IDM_AM_STRETCH
      MENUITEM "Normal",IDM_AM_LETTERBOX
    END
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&Help\tF1",IDM_HELP_HELP
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
