#define MANIFEST 						24
1						MANIFEST  DISCARDABLE "MediaPlayer.xml"
100						ICON      DISCARDABLE "MediaPlayer.ico"
101						ICON      DISCARDABLE "Images/MediaPlayerLogo.ico"
102						BITMAP    DISCARDABLE "Images/fake_brick.bmp"
300						ICON      DISCARDABLE "Images/Controls/Media_Player_OpenFile.ico"
301						ICON      DISCARDABLE "Images/Controls/Media_Player_Stop.ico"
302						ICON      DISCARDABLE "Images/Controls/Media_Player_Pause.ico"
303						ICON      DISCARDABLE "Images/Controls/Media_Player_Play.ico"
304						ICON      DISCARDABLE "Images/Controls/Media_Player_Step.ico"
305						ICON      DISCARDABLE "Images/Controls/Media_Player_Exit.ico"
306						ICON      DISCARDABLE "Images/Controls/Media_Player_Fullscreen.ico"
307						ICON      DISCARDABLE "Images/Controls/Media_Player_Info.ico"
308						ICON      DISCARDABLE "Images/Controls/Aspect_None.ico"
309						ICON      DISCARDABLE "Images/Controls/Aspect_Bars.ico"
310						ICON      DISCARDABLE "Images/Controls/Speaker_Sound.ico"
311						ICON      DISCARDABLE "Images/Controls/Speaker_NoSound.ico"
350						BITMAP    DISCARDABLE "Images/Menu/Media_Player_OpenFile.bmp"
351						BITMAP    DISCARDABLE "Images/Menu/Media_Player_Stop.bmp"
352						BITMAP    DISCARDABLE "Images/Menu/Media_Player_Pause.bmp"
353						BITMAP    DISCARDABLE "Images/Menu/Media_Player_Play.bmp"
354						BITMAP    DISCARDABLE "Images/Menu/Media_Player_Step.bmp"
355						BITMAP    DISCARDABLE "Images/Menu/Media_Player_Exit.bmp"
356						BITMAP    DISCARDABLE "Images/Menu/Media_Player_Fullscreen.bmp"
357						BITMAP    DISCARDABLE "Images/Menu/Media_Player_Info.bmp"
358						BITMAP    DISCARDABLE "Images/Menu/Aspect_None.bmp"
359						BITMAP    DISCARDABLE "Images/Menu/Aspect_Bars.bmp"
360						BITMAP    DISCARDABLE "Images/Menu/Media_Player_Help.bmp"
103						BITMAP    DISCARDABLE "Images/Menu/MediaFile.bmp"
