#define IDM_MENU 10000
#define IDM_FILE_OPEN 10001
#define IDM_FILE_EXIT 10002
#define IDM_CONTROLS 10050
#define IDM_MC_STOP 10051
#define IDM_MC_PAUSE 10052
#define IDM_MC_PLAY 10053
#define IDM_MC_STEP 10054
#define IDM_STEP10B 10060
#define IDM_MC_STEP10F 10061
#define IDM_MC_FULLSCREEN 10055
#define IDM_MC_ASPECT 10056
#define IDM_AM_STRETCH 10201
#define IDM_AM_LETTERBOX 10202
#define IDM_MC_SPEED 10062
#define IDM_MC_SLOWER 10063
#define IDM_MC_FASTER 10064
#define IDM_HELP_ABOUT 10102
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open File...\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "",,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Media Controls",IDM_CONTROLS
  BEGIN
    MENUITEM "&Stop\tCtrl+S",IDM_MC_STOP
    MENUITEM "Pause",IDM_MC_PAUSE
    MENUITEM "",,0x00000800
    MENUITEM "&Play\tCtrl+P",IDM_MC_PLAY
    MENUITEM "Step",IDM_MC_STEP
    MENUITEM "",,0x00000800
    MENUITEM "Step Backward 10 Seconds\tCtrl+B",IDM_STEP10B
    MENUITEM "Step Foreward 10 Seconds\tCtrl+F",IDM_MC_STEP10F
    MENUITEM "",,0x00000800
    MENUITEM "&Fullscreen Toggle\tF11",IDM_MC_FULLSCREEN
    POPUP "Video Aspect",IDM_MC_ASPECT
    BEGIN
      MENUITEM "Stretch",IDM_AM_STRETCH
      MENUITEM "Normal",IDM_AM_LETTERBOX
    END
    MENUITEM "",,0x00000800
    POPUP "Playback Speed",IDM_MC_SPEED
    BEGIN
      MENUITEM "Slower\tCtrl+Left",IDM_MC_SLOWER
      MENUITEM "Faster\tCtrl+Right",IDM_MC_FASTER
    END
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
