#define IDM_MENU 10000
#define IDM_FILE_Open 10001
#define IDM_FILE_Exit 10002
#define IDM_MC_Stop 10021
#define IDM_MC_Pause 10022
#define IDM_MC_Play 10023
#define IDM_MC_Step 10024
#define IDM_MC_Step10B 10025
#define IDM_MC_Step10F 10026
#define IDM_MC_Fullscreen 10027
#define IDM_MC_Aspect 10028
#define IDM_MC_VA_Stretch 10029
#define IDM_MC_VA_Normal 10030
#define IDM_MC_Speed 10031
#define IDM_MC_PS_Slower 10032
#define IDM_MC_PS_Faster 10033
#define IDM_LANG_Default 10050
#define IDM_LANG_English 10051
#define IDM_LANG_French 10052
#define IDM_LANG_German 10053
#define IDM_LANG_Polish 10054
#define IDM_LANG_Italian 10055
#define IDM_LANG_Spanish 10056
#define IDM_HELP_About 10102

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open File...\tCtrl+O",IDM_FILE_Open
    MENUITEM "",,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_Exit
  END
  POPUP "&Media Controls"
  BEGIN
    MENUITEM "&Stop\tCtrl+S",IDM_MC_Stop
    MENUITEM "Pause",IDM_MC_Pause
    MENUITEM "",,0x00000800
    MENUITEM "&Play\tCtrl+P",IDM_MC_Play
    MENUITEM "Step",IDM_MC_Step
    MENUITEM "",,0x00000800
    MENUITEM "Step Backward 10 Seconds\tCtrl+B",IDM_MC_Step10B
    MENUITEM "Step Forward 10 Seconds\tCtrl+F",IDM_MC_Step10F
    MENUITEM "",,0x00000800
    MENUITEM "Fullscreen Toggle\tF11",IDM_MC_Fullscreen
    POPUP "Video Aspect",IDM_MC_Aspect
    BEGIN
      MENUITEM "Stretch",IDM_MC_VA_Stretch
      MENUITEM "Normal",IDM_MC_VA_Normal
    END
    MENUITEM "",,0x00000800
    POPUP "Playback Speed",IDM_MC_Speed
    BEGIN
      MENUITEM "Slower\tCtrl+Left",IDM_MC_PS_Slower
      MENUITEM "Faster\tCtrl+Ins",IDM_MC_PS_Faster
    END
  END
  POPUP "&Language"
  BEGIN
    MENUITEM "Default",IDM_LANG_Default
    MENUITEM "English",IDM_LANG_English
    MENUITEM "Français",IDM_LANG_French
    MENUITEM "Deutsch",IDM_LANG_German
    MENUITEM "Polski",IDM_LANG_Polish
    MENUITEM "Italiano",IDM_LANG_Italian
    MENUITEM "Español",IDM_LANG_Spanish
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_About
  END
END

